@import url("//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css");
:root {
  --primary-color: #7B8FB0;
  --secondary-color-200: #2F394B;
  --secondary-color: #202733;
  --white: #fff;
  --ff: 'Poppins', sans-serif;
}

body {
  background: var(--primary-color);
  margin: 0;
  font-family: var(--ff);
}

.navbar {
  background: var(--secondary-color);
  padding: 1em;
}

.navbar .logo {
  text-decoration: none;
  font-weight: 600;
  color: var(--white);
  font-size: 1.5em;
}

.navbar .logo span {
  color: var(--primary-color);
}

.navbar nav {
  padding-top: 0.25em;
}

.navbar nav .log-out {
  font-size: 1em;
  text-decoration: none;
  color: var(--white);
  -webkit-transition: font-weight 150ms;
  transition: font-weight 150ms;
}

.navbar nav a.log-out:hover {
  font-weight: bold;
  cursor: pointer;
}

.navbar nav a.log-out:visited {
  color: var(--white);
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.contacts {
  background: var(--secondary-color);
  padding: 1em;
  margin: 1em 5em;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--white);
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.contacts h1 {
  font-size: 27px;
  font-weight: normal;
  vertical-align: top;
  color: var(--white);
}

.contacts .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  width: 100%;
}

.contacts .container .search .search-bar {
  height: 24px;
  width: 350px;
  padding: 1px;
  font-size: 13px;
  margin: 5px 0;
  background-color: var(--white);
}

.contacts .container .search .search-bar::-webkit-input-placeholder {
  font-family: FontAwesome, var(--ff);
  font-weight: 400;
  overflow: visible;
  vertical-align: top;
  padding-left: 5px;
  display: inline-block !important;
  color: rgba(204, 204, 204, 0.815);
}

.contacts .container .search .search-button {
  margin: 5px 0;
  padding: 1px 5px;
  height: 30px;
  vertical-align: top;
  font-family: var(--ff);
}

.contacts .container img {
  height: 20px;
  vertical-align: center;
}

.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.bg-modal .modal-content {
  width: 45%;
  height: auto;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  padding: 0.75em;
  position: relative;
}

.bg-modal .modal-content .close {
  position: absolute;
  top: -15px;
  right: 5px;
  font-size: 40px;
  font-weight: 300;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
}

.bg-modal .modal-content input {
  width: 50%;
  display: block;
  margin: 15px auto;
  font-family: var(--ff);
}

.bg-modal .modal-content textarea {
  width: 50%;
  display: block;
  margin: 15px auto;
  font-family: var(--ff);
}

.bg-modal .modal-content .initials {
  font-size: 2em;
  font-weight: 500;
}

.bg-modal .modal-content .done-button {
  font-family: var(--ff);
}

.edit-bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.edit-bg-modal .edit-modal-content {
  width: 45%;
  height: auto;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  padding: 0.75em;
  position: relative;
}

.edit-bg-modal .edit-modal-content .edit-close {
  position: absolute;
  top: -15px;
  right: 5px;
  font-size: 40px;
  font-weight: 300;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
}

.edit-bg-modal .edit-modal-content input {
  width: 50%;
  display: block;
  margin: 15px auto;
}

.edit-bg-modal .edit-modal-content textarea {
  width: 50%;
  display: block;
  margin: 15px auto;
  font-family: var(--ff);
}

.edit-bg-modal .edit-modal-content .edit-initials {
  font-size: 2em;
  font-weight: 500;
}

.edit-bg-modal .edit-modal-content .edit-done-button {
  font-family: var(--ff);
}

.bg-modal-confirm-delete {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.bg-modal-confirm-delete .confirm-delete-content {
  width: 400px;
  height: 150px;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  padding: 0;
  position: relative;
}

.bg-modal-confirm-delete .confirm-delete-content h1 {
  color: var(--primary-color);
}

.bg-modal-confirm-delete .confirm-delete-content .confirm-delete-close {
  position: absolute;
  top: -15px;
  right: 5px;
  font-size: 40px;
  font-weight: 300;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
}

.bg-modal-confirm-delete .confirm-delete-content .confirm-button {
  font-family: var(--ff);
}

.bg-modal-description {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.bg-modal-description .description-content {
  width: 35%;
  height: auto;
  background-color: white;
  border-radius: 4px;
  text-align: left;
  padding: 0.75em 0.75em;
  position: relative;
}

.bg-modal-description .description-content .description-close {
  position: absolute;
  top: -15px;
  right: 5px;
  font-size: 40px;
  font-weight: 300;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
}

.contacts-table {
  border-collapse: collapse;
  font-size: 1em;
  width: 100%;
  font-weight: 200;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.contacts-table tbody, .contacts-table tr {
  border-bottom: 1px solid #9b9a9a;
}

.contacts-table tbody, .contacts-table tr:last-of-type {
  border-bottom: 2px solid #2F3763;
}

.contacts-table th {
  font-weight: 500;
  font-size: 1rem;
}

.contacts-table .contact-head tr, .contacts-table th {
  background-color: #2F3763;
}

.contacts-table td, .contacts-table th {
  text-align: left;
  padding: 10px;
}

.contacts-table .contacts-body tr {
  -webkit-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
}

.contacts-table .contacts-body tr:hover {
  background-color: var(--secondary-color-200);
}

.contacts-table .contacts-body .delete-btn button {
  height: 30px;
  font-family: var(--ff);
}

.contacts-table .contacts-body .edit-btn button {
  height: 30px;
  font-family: var(--ff);
}

.contacts-table .contacts-body .name-item span {
  font-weight: 400;
}

.contacts-table .contacts-body .name-item .name-description {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-color 250ms ease-in-out;
  transition: border-color 250ms ease-in-out;
}

.contacts-table .contacts-body .name-item .name-description:hover {
  border-color: white;
  cursor: pointer;
}

.contacts-table .contacts-body .name-item .description-text {
  display: none;
}

.contacts-table .contacts-body .profile-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.contacts-table .contacts-body .profile-pic .circle-svg {
  margin: 0 auto;
  display: block;
}

.contacts-table .contacts-body .profile-pic .initials-item {
  font-weight: 600;
}

@media (max-width: 889px) {
  .contacts-table {
    display: none;
  }
  .contacts-table td, .contacts-table th {
    text-align: center;
  }
  .contacts-table, tbody, tr, td {
    display: block;
  }
  .contacts-table .contacts-head, tbody .contacts-head, tr .contacts-head, td .contacts-head {
    display: none;
  }
  td {
    padding-bottom: 10px;
  }
  .contacts {
    padding: 0.5em;
    margin: 0.5em 1em;
  }
  .contacts .container h1 {
    font-size: 18px;
  }
  .contacts .container .search .search-bar {
    width: 150px;
  }
}
/*# sourceMappingURL=contacts.css.map */