@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css");
:root {
  --primary-color: #7B8FB0;
  --secondary-color: #202733;
  --white: #fff;
}

body {
  background: var(--primary-color);
  margin: 0;
  font-family: "Poppins";
}

.navbar {
  background: var(--secondary-color);
  padding: 1em;
}
.navbar .logo {
  text-decoration: none;
  font-weight: 600;
  color: var(--white);
  font-size: 1.5em;
}
.navbar .logo span {
  color: var(--primary-color);
}
.navbar nav {
  padding-top: 0.25em;
}
.navbar nav .log-out {
  font-size: 1em;
  text-decoration: none;
  color: var(--white);
}
.navbar nav a.log-out:hover {
  font-weight: bold;
}
.navbar nav a.log-out:visited {
  color: var(--white);
}
.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.contacts {
  background: var(--secondary-color);
  padding: 1em;
  margin: 1em 10em;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--white);
  border-color: var(--white);
  border-width: 0.2rem;
  border-radius: 1rem;
  border-style: solid;
}
.contacts h1 {
  font-size: 27px;
  font-weight: normal;
  vertical-align: top;
  color: var(--white);
}
.contacts .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  width: 100%;
}
.contacts .container .search .search-bar {
  height: 24px;
  width: 350px;
  padding: 1px;
  font-size: 13px;
  margin: 5px 0;
}
.contacts .container .search .search-bar::-webkit-input-placeholder {
  font-family: FontAwesome, Poppins;
  font-weight: lighter;
  overflow: visible;
  vertical-align: top;
  padding-left: 5px;
  display: inline-block !important;
  color: rgba(204, 204, 204, 0.815);
}
.contacts .container .search .search-button {
  margin: 5px 0;
  padding: 1px 5px;
  height: 30px;
  vertical-align: top;
  font-family: Poppins;
}
.contacts .container img {
  height: 20px;
  vertical-align: center;
}

.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}
.bg-modal .modal-content {
  width: 500px;
  height: 300px;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  padding: 0;
  position: relative;
}
.bg-modal .modal-content .close {
  position: absolute;
  top: -15px;
  right: 5px;
  font-size: 40px;
  font-weight: 300;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
}
.bg-modal .modal-content input {
  width: 50%;
  display: block;
  margin: 15px auto;
}
.bg-modal .modal-content .initials {
  position: relative;
  top: -285px;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
}
.bg-modal .modal-content .done-button {
  font-family: Poppins;
}

.edit-bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}
.edit-bg-modal .edit-modal-content {
  width: 500px;
  height: 300px;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  padding: 0;
  position: relative;
}
.edit-bg-modal .edit-modal-content .edit-close {
  position: absolute;
  top: -15px;
  right: 5px;
  font-size: 40px;
  font-weight: 300;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
}
.edit-bg-modal .edit-modal-content input {
  width: 50%;
  display: block;
  margin: 15px auto;
}
.edit-bg-modal .edit-modal-content .edit-initials {
  position: relative;
  top: -285px;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
}
.edit-bg-modal .edit-modal-content .edit-done-button {
  font-family: Poppins;
}

.bg-modal-confirm-delete {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}
.bg-modal-confirm-delete .confirm-delete-content {
  width: 400px;
  height: 150px;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  padding: 0;
  position: relative;
}
.bg-modal-confirm-delete .confirm-delete-content h1 {
  color: var(--primary-color);
}
.bg-modal-confirm-delete .confirm-delete-content .confirm-delete-close {
  position: absolute;
  top: -15px;
  right: 5px;
  font-size: 40px;
  font-weight: 300;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
}
.bg-modal-confirm-delete .confirm-delete-content .confirm-button {
  font-family: Poppins;
}

.contacts-table {
  border-collapse: collapse;
  font-size: 0.9em;
  width: 100%;
}
.contacts-table tbody, .contacts-table tr {
  border: 0.1rem solid var(--white);
}
.contacts-table td, .contacts-table th {
  padding-right: 12px 15px;
  text-align: center;
}
.contacts-table .contacts-body tr:hover {
  background-color: rgba(204, 204, 204, 0.39);
}
.contacts-table .contacts-body td.profile-pic h4.initials-item {
  position: relative;
  text-align: center;
  margin: 0;
  top: -26px;
}
.contacts-table .contacts-body td.profile-pic svg.circle-svg {
  position: relative;
  top: 10px;
}
.contacts-table .contacts-body .delete-btn button {
  height: 30px;
  font-family: Poppins;
}
.contacts-table .contacts-body .edit-btn button {
  height: 30px;
  font-family: Poppins;
}

@media (max-width: 889px) {
  .contacts-table {
    display: none;
  }

  .contacts-table, tbody, tr, td {
    display: block;
    width: 100%;
  }
  .contacts-table .contacts-head, tbody .contacts-head, tr .contacts-head, td .contacts-head {
    display: none;
  }

  td {
    padding-bottom: 10px;
  }

  .contacts {
    padding: 0.5em;
    margin: 0.5em 1em;
  }
  .contacts .container h1 {
    font-size: 18px;
  }
  .contacts .container .search .search-bar {
    width: 150px;
  }
}