:root {
  --primary-color-100: #eaf0f8;
  --primary-color-500: #7B8FB0;
  --primary-color-600: #687b99;
  --secondary-color-200: #2F394B;
  --secondary-color: #202733;
  --white: #fff;
  --ff: 'Poppins', sans-serif;
  --error: rgb(187, 36, 36);
}

body {
  background: var(--primary-color-500);
  margin: 0;
  font-family: var(--ff);
}

.navbar {
  background: var(--secondary-color);
  padding: 1em;
}

.navbar .logo {
  text-decoration: none;
  font-weight: 600;
  color: var(--white);
  font-size: 1.5em;
}

.navbar .logo span {
  color: var(--primary-color-500);
}

.navbar nav {
  padding-top: 0.25em;
}

.navbar nav .log-out {
  font-size: 1em;
  text-decoration: none;
  color: var(--white);
  -webkit-transition: font-weight 150ms;
  transition: font-weight 150ms;
}

.navbar nav a.log-out:hover {
  font-weight: bold;
  cursor: pointer;
}

.navbar nav a.log-out:visited {
  color: var(--white);
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.contacts {
  background: var(--secondary-color);
  padding: 1em;
  margin: 1em 5em;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--white);
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.contacts #search-error {
  display: none;
  background-color: #b8443b;
  padding: .7em .7em 0.7em 0.7em;
  border-radius: 5px 5px;
}

.contacts #search-error i {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 0.5em;
}

.contacts h1 {
  font-size: 27px;
  font-weight: normal;
  vertical-align: top;
  color: var(--white);
}

.contacts .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  width: 100%;
}

.contacts .container .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts .container .search .search-bar {
  font-size: 0.9em;
  margin: 0;
  background-color: var(--primary-color-100);
  border: 2px solid var(--primary-color-500);
  padding: 0.4em;
  border-radius: 5px 0 0 5px;
  width: 300px;
  outline: none;
}

.contacts .container .search .search-bar:focus {
  background-color: var(--white);
}

.contacts .container .search .search-bar::-webkit-input-placeholder {
  font-family: var(--ff);
  font-weight: 400;
  overflow: visible;
  vertical-align: top;
  padding-left: 0.5em;
  display: inline-block !important;
  color: rgba(204, 204, 204, 0.815);
}

.contacts .container .search .search-bar:-ms-input-placeholder {
  font-family: var(--ff);
  font-weight: 400;
  overflow: visible;
  vertical-align: top;
  padding-left: 0.5em;
  display: inline-block !important;
  color: rgba(204, 204, 204, 0.815);
}

.contacts .container .search .search-bar::-ms-input-placeholder {
  font-family: var(--ff);
  font-weight: 400;
  overflow: visible;
  vertical-align: top;
  padding-left: 0.5em;
  display: inline-block !important;
  color: rgba(204, 204, 204, 0.815);
}

.contacts .container .search .search-bar::placeholder {
  font-family: var(--ff);
  font-weight: 400;
  overflow: visible;
  vertical-align: top;
  padding-left: 0.5em;
  display: inline-block !important;
  color: rgba(204, 204, 204, 0.815);
}

.contacts .container .search .search-button {
  margin: 0;
  border: none;
  font-family: var(--ff);
  background-color: var(--primary-color-500);
  color: white;
  -webkit-transition: background-color 150ms ease-in-out;
  transition: background-color 150ms ease-in-out;
  border-radius: 0 5px 5px 0;
  width: 50px;
}

.contacts .container .search .search-button:hover {
  background-color: var(--primary-color-600);
  cursor: pointer;
}

.contacts .container .search .search-button i {
  pointer-events: none;
}

.contacts .container img {
  height: 20px;
  -webkit-transition: -webkit-transform 350ms;
  transition: -webkit-transform 350ms;
  transition: transform 350ms;
  transition: transform 350ms, -webkit-transform 350ms;
}

.contacts .container img:hover {
  -webkit-transform: rotate(90deg) translateZ(0);
          transform: rotate(90deg) translateZ(0);
}

.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.bg-modal .modal-content {
  width: 45%;
  height: auto;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  padding: 0.75em;
  position: relative;
}

.bg-modal .modal-content #add-error {
  color: var(--error);
  font-weight: 500;
}

.bg-modal .modal-content .close {
  position: absolute;
  top: -15px;
  right: 5px;
  font-size: 40px;
  font-weight: 300;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
}

.bg-modal .modal-content input {
  width: 50%;
  display: block;
  margin: 15px auto;
  font-family: var(--ff);
}

.bg-modal .modal-content textarea {
  width: 50%;
  display: block;
  margin: 15px auto;
  font-family: var(--ff);
}

.bg-modal .modal-content .initials {
  font-size: 2em;
  font-weight: 500;
}

.bg-modal .modal-content .done-button {
  font-family: var(--ff);
  margin-bottom: 1em;
}

.bg-modal .modal-content h5 {
  margin: 0;
  font-weight: 400;
  margin-bottom: 0.1em;
}

.bg-modal .modal-content .add-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 1em;
}

.bg-modal .modal-content .add-buttons .extract-text {
  font-family: var(--ff);
  margin-left: 0.5em;
}

.bg-modal .modal-content .add-buttons .business-card {
  font-family: var(--ff);
}

.edit-bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.edit-bg-modal .edit-modal-content {
  width: 45%;
  height: auto;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  padding: 0.75em;
  position: relative;
}

.edit-bg-modal .edit-modal-content #edit-error {
  color: var(--error);
  font-weight: 500;
}

.edit-bg-modal .edit-modal-content .edit-close {
  position: absolute;
  top: -15px;
  right: 5px;
  font-size: 40px;
  font-weight: 300;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
}

.edit-bg-modal .edit-modal-content input {
  width: 50%;
  display: block;
  margin: 15px auto;
  font-family: var(--ff);
}

.edit-bg-modal .edit-modal-content textarea {
  width: 50%;
  display: block;
  margin: 15px auto;
  font-family: var(--ff);
}

.edit-bg-modal .edit-modal-content .edit-initials {
  font-size: 2em;
  font-weight: 500;
}

.edit-bg-modal .edit-modal-content .edit-done-button {
  font-family: var(--ff);
}

.bg-modal-confirm-delete {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.bg-modal-confirm-delete .confirm-delete-content {
  width: 400px;
  height: 150px;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  padding: 0;
  position: relative;
}

.bg-modal-confirm-delete .confirm-delete-content #delete-error {
  color: var(--error);
  font-weight: 500;
}

.bg-modal-confirm-delete .confirm-delete-content h1 {
  color: var(--error);
}

.bg-modal-confirm-delete .confirm-delete-content .confirm-delete-close {
  position: absolute;
  top: -15px;
  right: 5px;
  font-size: 40px;
  font-weight: 300;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
}

.bg-modal-confirm-delete .confirm-delete-content .confirm-button {
  font-family: var(--ff);
}

.bg-modal-description {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.bg-modal-description .description-content {
  width: 35%;
  height: auto;
  background-color: white;
  border-radius: 4px;
  text-align: left;
  padding: 0.75em 0.75em;
  position: relative;
}

.bg-modal-description .description-content .description-close {
  position: absolute;
  top: -15px;
  right: 5px;
  font-size: 40px;
  font-weight: 300;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
}

.contacts-table {
  border-collapse: collapse;
  font-size: 1em;
  width: 100%;
  font-weight: 200;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.contacts-table tbody, .contacts-table tr {
  border-bottom: 1px solid #9b9a9a;
}

.contacts-table tbody, .contacts-table tr:last-of-type {
  border-bottom: 2px solid #2F3763;
}

.contacts-table th {
  font-weight: 500;
  font-size: 1rem;
}

.contacts-table .contact-head tr, .contacts-table th {
  background-color: #2F3763;
}

.contacts-table td, .contacts-table th {
  text-align: left;
  padding: 10px;
}

.contacts-table .contacts-body tr {
  -webkit-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
}

.contacts-table .contacts-body tr:hover {
  background-color: var(--secondary-color-200);
}

.contacts-table .contacts-body .delete-btn button {
  font-family: var(--ff);
  background-color: #910a00;
  border-radius: 40px;
  border: 0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 0.9em;
  padding: 0.7em 2em;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2e2c2c;
  -webkit-transition: background-color, color 125ms ease-in-out;
  transition: background-color, color 125ms ease-in-out;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.contacts-table .contacts-body .delete-btn button:hover {
  background-color: #7e0d05;
  color: #2e2c2c;
}

.contacts-table .contacts-body .delete-btn button:active {
  position: relative;
  top: 1px;
}

.contacts-table .contacts-body .delete-btn i {
  pointer-events: none;
}

.contacts-table .contacts-body .edit-btn button {
  font-family: var(--ff);
  background-color: var(--primary-color-500);
  border-radius: 40px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: var(--white);
  font-size: 0.9em;
  padding: 0.7em 2em;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2e2c2c;
  -webkit-transition: background-color, color 125ms ease-in-out;
  transition: background-color, color 125ms ease-in-out;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.contacts-table .contacts-body .edit-btn button:hover {
  background-color: var(--primary-color-600);
  color: #2e2c2c;
}

.contacts-table .contacts-body .edit-btn button:active {
  position: relative;
  top: 1px;
}

.contacts-table .contacts-body .edit-btn i {
  pointer-events: none;
}

.contacts-table .contacts-body .name-item span {
  font-weight: 400;
}

.contacts-table .contacts-body .name-item .name-description {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-color 250ms ease-in-out;
  transition: border-color 250ms ease-in-out;
}

.contacts-table .contacts-body .name-item .name-description:hover {
  border-color: white;
  cursor: pointer;
}

.contacts-table .contacts-body .name-item .description-text {
  display: none;
}

.contacts-table .contacts-body .profile-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.contacts-table .contacts-body .profile-pic .circle-svg {
  margin: 0 auto;
  display: block;
}

.contacts-table .contacts-body .profile-pic .initials-item {
  font-weight: 600;
}

@media (max-width: 889px) {
  .contacts {
    padding: 0.5em;
    margin: 0.5em 1em;
  }
  .contacts .container h1 {
    font-size: 20px;
  }
  .contacts .container .search .search-bar {
    width: 150px;
  }
  .contacts .container .search .search-button {
    width: 30px;
  }
  .contacts-table {
    display: none;
  }
  .contacts-table td, .contacts-table th {
    text-align: center;
  }
  .contacts-table, tbody, tr, td {
    display: block;
  }
  .contacts-table .contacts-head, tbody .contacts-head, tr .contacts-head, td .contacts-head {
    display: none;
  }
  td {
    padding-bottom: 10px;
  }
  .bg-modal .modal-content {
    width: 80%;
  }
  .edit-bg-modal .edit-modal-content {
    width: 80%;
  }
}

@media (max-width: 350px) {
  .navbar .logo {
    font-size: 1em;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .navbar nav {
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar nav .log-out {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 0.8em;
    margin: auto;
  }
  .contacts {
    padding: 0.5em;
    margin: 0.5em 1em;
  }
  .contacts .container h1 {
    font-size: 16px;
  }
  .contacts .container .search .search-bar {
    font-size: 0.7em;
    width: 58px;
  }
  .contacts .container .search .search-button {
    width: 30px;
  }
  .contacts .container img {
    height: 15px;
  }
}
/*# sourceMappingURL=contacts.css.map */