@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root
{
    --primary-color: #A33838;
}

body 
{
    background-color: var(--primary-color);
    margin: 0;
    font-family: 'Poppins';
}

.navbar
{
    background: white;
    padding: 1em;

    .logo
    {
        text-decoration: none;
        font-weight: 600;
        color: black;
        font-size: 1.5em;

        span 
        {
            color: var(--primary-color);
        }
    }

    nav
    {
        padding-top: 0.25em;

        .log-out
        {
            font-size: 1em;
            text-decoration: none;
        }
        
    }

    .container
    {
        display: flex;
        place-content: space-between;
    }
}

.login-section
{

    background-color: white;
    height:360px;
    width: 450px;
    padding: 2em 2em;
    margin: auto;
    margin-top: 8em;
    border-radius: .6em 1.2em;
    animation: fadeIn 2s;
}

@keyframes fadeIn
{
    0% {opacity:0;}
    100% {opacity:1;}
}

h2
{
    font-size: 2em;
    text-align: center;
    margin-top: 0em;
}

label
{
    text-align: center;
    display: block;
    margin-top: 2em;
}

#username, #password
{
    display:block;
    margin: 0 auto;

}

.login-cta
{
    background-color: var(--primary-color);
    color: white;
    display: block;
    margin: 0 auto;
    margin-top: 2em;
    text-decoration: none;
    padding: .6em 1.3em;
    font-size: 1.4em;
    border-radius: 5em;
}

#loginResult
{
    height: 25px;
    width: 250px;
    text-align: center;
    color: red;
    display: block;
    margin: auto;
    margin-top: .5em;
}

p
{
    text-align: center;  
}

a
{
    color: gray;
}

@media(max-width: 889px)
{
    .login-section
    {
        width: 250px;
        height: 450px;
    }
}


